<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.longshihan.collect">

    <application>
        <provider
                android:name=".provider.TraceLocationProvider"
                android:authorities="{applicationId}.traceProvider"
                android:exported="false">
        </provider>
    </application>

</manifest>